# Java
*.class

# Package Files #
*.jar
*.war
*.ear

# jenv
.java-version

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.checkstyle

# Intellij
.idea/
*.iml

# Eclipse files
.project
.classpath
.settings

# Gradle
out/
build/
.gradle/

# VS Code
.vscode/

# OSX
**/.DS_Store
*.bak

# Terraform
tf/plan.out
tf/.terraform.lock.hcl
tf/.terraform/
tf/terraform.tfstate

